/*------------------------------------------------------------------
[Video Baron's Master Stylesheet]

Version:	0.1 

[Table of contents]

0. General
1. Body
2. Header / #header
3. Navigation / #navbar
4. Content / #content
	5. Playlist / #playlist
6. Extra
-------------------------------------------------------------------*/

/* ------------------------------------------------------------------
[0. General]
 */
.row{
	margin-bottom: 10px;
}

/* ------------------------------------------------------------------
[1. Body] 
*/

/* ------------------------------------------------------------------
[2. Header] 
*/

/* ------------------------------------------------------------------
[3. Navigation] 
*/

/* ------------------------------------------------------------------
[4. Content] 
*/

input#messageBox {
	width: 400px;
}

/* ------------------------------------------------------------------
[5. Playlist / #playlist] 
*/

.playlist_table {
  overflow-y: scroll;
}
.select2-container{
	width: 488px;
}

/* ------------------------------------------------------------------
[6. Extra] 
*/
.movie-result td {vertical-align: top }
.movie-image { width: 60px; }
.movie-image img { height: 80px; width: 60px;  }
.movie-info { padding-left: 10px; vertical-align: top; }
.movie-title { font-size: 1.2em; padding-bottom: 15px; }
.movie-synopsis { font-size: .8em; color: #888; }
.select2-highlighted .movie-synopsis { font-size: .8em; color: #eee; }
.bigdrop.select2-container .select2-results {max-height: 300px;}