<template name="testplate">
  <h3>Chat</h3>
  {{> clean}}
  {{#if user_logged_in}}
  <div id="messagesInputDiv">
    <input type="text" id="messageBox" placeholder="Your Message" />
    
    <input id="editingMessage" type="image" src="edit.jpg" alt="replay" height="26" width="26" style="display: none;"/>
  </div>
  {{else}}
    <div class="alert alert-info">
      Please log in to use the chat!
    </div>
  {{/if}}
  	<input type="button" id="postMessageNow" value="Post!" />
	<input type="button" id="testButton" value="testButton" />
</template>
