<!-- Playlist
    ================================================== -->
<template name="playlist">

  <!-- Playlist Searchbox -->
  <!-- 
  <table>
    <tr>
      <td>
        <input id="url" type="text" name="url">
      </td>
      <td>
        <div id="addMedia" style="display: none;">
          <label for="url"> Pegar la URL de youtube 
            
          </label>
          <input id="play" type="button" value="Add" class="hidden"/>
        </div>
      </td>
    </tr>
  </table>
  -->

  <!-- Playlist Stats Table -->  
  {{#if videos.count}}
  <table id="playlist" class="table table-hover">

    <thead> 
      <tr>
        <th>Order</th>
        <th>Added@</th>
        <th>Listening</th>
        <th>Shared by</th>
        <!-- 
        <th>Stars</th>
        <th>Rating</th> 
        -->
       <!--  <th>Delete</th> -->
      </tr>
    </thead>

    <tbody>
      {{#each videos}}
      <tr {{#if is_current_video this.key}} class="current"{{/if}}>
        <td>
          {{{position_in_queue this.key}}}
          <!-- <input type="image" class="replaySong" src="replay.jpg" alt="replay" height="16" width="16" /> -->

        </td>
        <td>
          {{this.hour}}
        </td>
        <td>
          {{this.title}}
        </td>
        <td>
          {{this.user}}
        </td>
        <!-- 
        <td><img src="starts.png"></td>
        <td><input type="button" value="TBD"/></td> 
        -->
        <!--  <td>
          <input type="image" class="deleteSong" src="remove.jpg" alt="replay" height="16" width="16" />
        </td> -->

      </tr>
      {{/each}}
    </tbody>
  </table>
  {{else}}
    <div class="alert alert-info">
      There is nothing yet to show!
    </div>
  {{/if}}
</template>