<!-- Chat
    ================================================== -->
<template name="entry">
  <h3>Chat</h3>
  {{> clean}}
  {{#if user_logged_in}}
  <div id="messagesInputDiv">
    <input type="text" id="messageBox" placeholder="Your Message">
    <!-- <input id="editingMessage" type="image" src="edit.jpg" alt="replay" height="26" width="26" style="display: none;"/> -->
  </div>
  {{else}}
    <div class="alert alert-info">
      Please log in to use the chat!
    </div>
  {{/if}}
</template>

<template name="clean">
  {{#if user_logged_in}}
    <input type="button" id="cleanChat" class="btn btn-mini" value="Empty Chat">
  {{/if}}
</template>

<template name="messages">
  {{#each messages}}
     {{> message}}
  {{/each}}
</template>

<template name="message">
<!-- <input type="image" class="deleteChatLine" src="remove.jpg" alt="replay" height="16" width="16" />
<input type="image" class="editChatLine" src="edit.jpg" alt="replay" height="16" width="16" /> -->
<p>
  <span class="muted">
    <small>
      {{formmatedDate}}
    </small>
  </span>
  <strong> - {{name}}</strong> says: {{message}}
</p>

  <!-- {{#if edited}}
    <input type="image" src="edited.jpg" alt="edited" height="16" width="16" />
  {{/if}} -->

</template>