<template name = "rateas">
	<ul class='star-rating pull-right'>
		<li class='current-rating' id='current-rating' style="width: {{rate}}px"></li>
		<li><a href="#" title='1 star out of 5' id="star_1" class='one-star stars'>1</a></li>
		<li><a href="#" title='2 star out of 5' id="star_2" class='two-stars stars'>2</a></li>
		<li><a href="#" title='3 star out of 5' id="star_3" class='three-stars stars'>3</a></li>
		<li><a href="#" title='4 star out of 5' id="star_4" class='four-stars stars'>4</a></li>
		<li><a href="#" title='5 star out of 5' id="star_5" class='five-stars stars'>5</a></li>
	</ul>
</template>