<template name="message">
<div class="messageLine">
  <hr>
  <span class="messageOptions" style="display:none;">
     <span class="muted">
      <small>
        {{formmatedDate}}
      </small>
    </span>
    <input type="image" class="deleteChatLine" src="remove.jpg" alt="replay" height="16" width="16" />
  		<input type="image" class="editChatLine" src="edit.jpg" alt="replay" height="16" width="16" />
    		{{#if edited}}
      		<input type="image" src="edited.jpg" alt="edited" height="16" width="16" />
    		{{/if}}
  </span>

  <strong>{{name}}</strong>: {{message}}

</div>
</template>